@import "src/app/styles/variables/fonts";
@import "src/app/styles/variables/colors";
@import "src/app/styles/mixins/resetButton";

.root {
  height: 100vh;
  background-image: url("images/bus.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;

  p {
    line-height: 1;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px
}

.bus {
  width: 70px;
  height: 70px;

  img {
    width: 100%;
  }
}

.number {
  font-size: $FONT_LINE_HEIGHT_XL;
  line-height: $FONT_LINE_HEIGHT_XL;
  color: $DARK_BLUE;
  font-family: BlinkMacSystemFont;
}

.btn {
  @include resetButton();
  cursor: pointer;
  text-transform: capitalize;
  background-color: $LIGHT_BLUE;
  border-radius: 12px;
  color: $WHITE;
  padding: 10px 16px;
  font-size: $FONT_LINE_HEIGHT_S;
  line-height: $FONT_LINE_HEIGHT_S;
  transition: .2s background-color ease-in-out;

  &:hover {
    background-color: $DARK_BLUE;
  }
}