@import "src/app/styles/variables/fonts";
@import "src/app/styles/variables/colors";

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $WHITE;
  padding: 26px;
  font-size: $FONT_SIZE_M;
  line-height: $FONT_LINE_HEIGHT_M;
  border-radius: 10px;
  text-align: center;
  min-width: 200px;
  z-index: 100;
}

.active {
  color: red;
  background-color: rebeccapurple;
}

.cross {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  right: 10px;
  top: 14px;
  border: unset;
  padding: 6px;
}

.crossIcon {
  fill: $LIGHT_BLUE;

  &:hover {
    fill: $DARK_BLUE;
  }
}