@mixin resetButton() {
  height: auto;
  margin: 0;
  padding: 0;

  font: inherit;
  cursor: default;
  text-decoration: none;

  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;

  &::-moz-focus-inner {
    margin: 0;
    padding: 0;

    border: 0;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: currentColor;
  }
}